---
import Layout from "../layouts/Layout.astro";
import Click from "../components/Click.astro";
---

<Layout title="404 Error :(">
  <h1>That sucks. Something is missing :(</h1>

  <Click linkText="Go Home" />
</Layout>
