---
import Layout from "../layouts/Layout.astro";
import Click from "../components/Click.astro";

import JournalCard from "../components/JournalCard.astro";

const journalPosts = await Astro.glob("./journal/*.mdx");
const portPosts = await Astro.glob("./portfolio/*.mdx");
---

<Layout title="Niel Montesa // Designer">
  <div class="hero-section lg:py-24 py-16 pulse">
    <p class="lg:text-7xl text-5xl header-intro font-normal">
      Hello stranger, my name is <em>Niel</em> — I like designing and developing
      beautiful websites.
    </p>

    <p class="mt-6 text-base text-lg lg:w-1/2">
      Information Technology student with a deep appreciation for arts and
      design. On the side, I’m currently working as a freelance graphic designer
      for a data science startup.
    </p>
  </div>

  <section class="grid grid-cols-1 xl:grid-cols-8 gap-12">
    <div class="xl:col-span-6">
      <header>
        <h2 class="text-4xl xl:mt-12">Portfolio</h2>
        <p class="xl:mt-3">
          Designs I helped create either from commercial or personal projects.
        </p>
      </header>

      <div class="grid">
        <div class="mt-8 columns-1 xl:columns-2 gap-3">
          {portPosts.map((post) => <JournalCard {post} />)}
        </div>
      </div>
    </div>
    <div class="xl:col-span-2">
      <header>
        <h2 class="text-4xl xl:mt-12">Journal</h2>
        <p class="xl:mt-3">
          A collection of my writing, ranging from blog posts and design guides
          to opinionated discourse about film or music.
        </p>
      </header>

      <div class="grid">
        <div class="mt-8 columns-1 xl:columns-1 gap-3">
          {journalPosts.map((post) => <JournalCard {post} />)}
        </div>
      </div>
    </div>
  </section>
</Layout>
