---
import Layout from "../layouts/Layout.astro";
import Click from "../components/Click.astro";
---

<Layout title="Niel Montesa - Designer">
  <main class="lg:px-60 px-5">
    <div class="hero-section lg:py-32 py-16">
      <p class="lg:text-7xl text-5xl header-intro font-normal">
        Hello stranger, my name is <em>Niel</em> — I like designing and
        developing user-centered interfaces.
      </p>

      <p class="mt-6 text-base text-lg lg:w-1/2">
        Information Technology student with a deep appreciation for arts and
        design. On the side, I’m currently working as a freelance graphic
        designer for a data science startup.
      </p>
      <div class="mt-6">
        <Click
          linkText="• Open for freelance work!"
          textColor="text-[var(--primary-green)]"
        />
        <Click
          linkText="• Currently searching for UI/UX internships!"
          textColor="text-[var(--secondary-green)]"
        />
      </div>
    </div>

     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, delectus
    vero. Accusantium similique ullam iste minima eius in, voluptatum veniam magnam
    repellat, deserunt fugit. Omnis minima dolor deleniti enim tenetur. Cupiditate
    asperiores, tenetur quam, est iste, inventore deserunt officia impedit nihil
    corporis ut ad! Quia doloremque temporibus ex nobis suscipit, recusandae architecto
    eum voluptas est nam, aut veniam voluptatem perferendis! Doloribus quam totam
    eaque quasi fugit iusto impedit, voluptatem culpa similique explicabo, repellat
    sit inventore quod vero vitae natus itaque aspernatur. Excepturi rerum blanditiis
    neque necessitatibus a similique totam adipisci! Ratione, repellendus eligendi?
    Fugiat nobis est officia necessitatibus. Officiis enim totam dignissimos molestiae
    exercitationem incidunt explicabo repellendus autem eius reiciendis. Sunt ex
    temporibus modi rem magnam aliquid alias! Quaerat, maxime. Animi similique veritatis
    quo incidunt? Alias qui magni accusamus dolor! Maiores modi rerum ullam ea molestias
    laudantium ut voluptate vitae nam. Perferendis, quibusdam rerum. Dolorum voluptas
    rem nostrum voluptatem laudantium! Unde dolor blanditiis amet illum earum odit
    iure sequi alias atque, eveniet libero consequuntur in quibusdam deserunt iste,
    adipisci rerum reiciendis quis corporis ad est quas aperiam. Nam, assumenda vel!
  </main>
</Layout>
