---
import "../../styles/global.css";
import Click from "./Click.astro";
import { Icon } from "astro-icon";
---

<div
  class="text-xs footer xl:mt-auto mt-24 pb-24 lg:px-60 xl:pb-24 xl:pt-60 md:px px-5 xl:flex grid grid-cols-2 grid-rows-2xl:flex-auto xl:gap-60 gap-12 text-[var(--text-gray)]">
  <div class="xl:w-1/4 col-span-2">
    <p class="mb-5 text-base">
      If you have a project in mind, an internship opportunity, or if you just
      want to tell me about your day, you can contact me on my email:
    </p>
    <Click
      linkText="design@nielmontesa.com"
      textColor="text-[var(--secondary-green)]"
    />
  </div>
  <div>
    <p class="font-bold">Niel Montesa</p>
    <ul class="flex-col gap-4 flex mt-5">
      <li class="hover:text-[var(--primary-green)]">
        <a href="/portfolio">Portfolio</a>
      </li>
      <li class="hover:text-[var(--primary-green)]">
        <a href="/journal">Journal</a>
      </li>
      <li class="hover:text-[var(--primary-green)]">
        <a href="/bio">Bio</a>
      </li>
      <li class="hover:text-[var(--primary-green)]">
        <a href="/now">Now</a>
      </li>
      <li class="">© 2023 Niel Montesa</li>
    </ul>
  </div>
  <div class="text-xs">
    <p class="font-bold">My Links</p>
    <ul
      class="flex xl:gap-[1] gap-1 xl:items-center xl:justify-center xl:m-auto xl:ml-[-4px] xl:mt-3 mt-5 ml-[-5px]">
      <a href="https://www.linkedin.com/in/nielivanmontesa/" target="_blank">
        <li class="hover:text-[var(--primary-green)]">
          <Icon pack="mdi" name="linkedin" width="30" />
        </li></a
      >
      <a href="https://medium.com/@nielmontesa" target="_blank">
        <li class="hover:text-[var(--primary-green)]">
          <Icon name="bi:medium" width="30" />
        </li></a
      >
      <a href="https://www.instagram.com/nielmontesa/" target="_blank">
        <li class="hover:text-[var(--primary-green)]">
          <Icon pack="mdi" name="instagram" width="30" />
        </li></a
      >
    </ul>
  </div>
</div>
