---
import "../../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/niel.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="main text-base flex flex-col min-h-screen">
    <div class="noise"></div>
    <NavBar />
    <main class="lg:px-60">
      <slot />
    </main>
    <Footer />
  </body>
  <script is:inline>
    document.addEventListener("astro:page-load", () => {
      const elements = document.querySelectorAll(
        ".mouse-cursor-gradient-tracking"
      );

      elements.forEach((btn) => {
        btn.addEventListener("mousemove", (e) => {
          let rect = btn.getBoundingClientRect();
          let x = e.clientX - rect.left;
          let y = e.clientY - rect.top;
          btn.style.setProperty("--x", x + "px");
          btn.style.setProperty("--y", y + "px");
        });
      });
    });
  </script>
  <ViewTransitions />
</html>
