@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Black.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Black.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-BlackItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-BlackItalic.otf") format("otf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Bold.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-BoldItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-BoldItalic.otf") format("otf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Heavy.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Heavy.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-HeavyItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-HeavyItalic.otf") format("otf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Italic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Italic.otf") format("otf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Light.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-LightItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-LightItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Medium.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-MediumItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-MediumItalic.otf") format("otf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Roman.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Roman.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Thin.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-UltraLight.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-UltraLight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-ThinItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-ThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-UltraLightItalic.otf") format("otf"),
    url("/fonts/HelveticaNeueCyr-UltraLightItalic.otf") format("otf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
