:root {
  /* Colors */
  --background-black: #0f0f0f;
  --background-gray: rgb(38 38 38);
  --primary-green: #00d97b;
  --secondary-green: #3ab500;
  --outline-black: #0c0c0c;
  --card-gray: #1a1a1a;
  --text-gray: #9a9a9a;
  --caption-gray: rgb(83, 83, 83) 3;
}
