---
import Layout from "../../layouts/Layout.astro";
import JournalCard from "../../components/JournalCard.astro";

const allPosts = await Astro.glob("./*.mdx");
---

<Layout title="Niel Montesa // Portfolio">
  <header>
    <h2 class="text-4xl lg:mt-12">Portfolio</h2>
    <p class="lg:mt-3">
      Designs I helped create either from commercial or personal projects.
      (UI/UX case study currently in progress)
    </p>
  </header>

  <div class="mt-8 columns-1 lg:columns-3 gap-3">
    {allPosts.map((post) => <JournalCard {post} />)}
  </div>
  <script src="../../scripts/shimmer.js"></script>
</Layout>
<script>
  const elements = document.querySelectorAll(".mouse-cursor-gradient-tracking");

  elements.forEach((btn) => {
    btn.addEventListener("mousemove", (e) => {
      let rect = btn.getBoundingClientRect();
      let x = e.clientX - rect.left;
      let y = e.clientY - rect.top;
      btn.style.setProperty("--x", x + "px");
      btn.style.setProperty("--y", y + "px");
    });
  });
</script>
